
MediaPlayer/.vs/MusicPlayer/v16/.suo
MediaPlayer/MediaPlayer/obj/Debug/MediaPlayer.g.resources
MediaPlayer/MediaPlayer/obj/Debug/MusicPlayer.csprojAssemblyReference.cache
MediaPlayer/MediaPlayer/obj/Debug/MediaPlayer.g.resources
MediaPlayer/MediaPlayer/bin/Debug/MediaPlayer.pdb
MediaPlayer/MediaPlayer/bin/Debug/MediaPlayer.exe
*.baml
*.cache
